@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron my-5 text-center">

    <div class="container ">
            <div class="text-center">
                <h1>Welcome to our inventory management system!</h1>
                <br />
                <p class="lead">Our system is designed to help you manage your inventory more efficiently and effectively. With our user-friendly interface, you can easily track your products, categories, and suppliers, and keep up-to-date with important information like product prices, costs, and quantities. Our system is also designed to help you save time by automating many of the tasks involved in managing your inventory. We hope you find our system helpful and easy to use.</p>
            </div>
    </div>
</div>

<p class="lead text-right">Created by Melina Zárate</p>
